<div class="row animated fadeIn">
    <div class="col-md-7">
        <div class="card card-body">
            <h3 class="box-title m-b-0">Perfil del Usuario</h3>
            <p class="text-muted m-b-30 font-13"> {{usuario.nombre}} </p>
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <form ngNativeValidate #f="ngForm" (ngSubmit)="guardar( f.value )">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Nombre de Usuario</label>
                            <input [ngModel]="usuario.nombre" name="nombre" type="text" class="form-control" required placeholder="Nombre de Usuario">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input [ngModel]="usuario.email" name="email" [disabled]="usuario.google" type="email" class="form-control" placeholder="Correo del Usuario" required>
                        </div>


                        <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Guardar
                          <i class="fa fa-save"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-5">
        <div class="card card-body" align="center">
            <h3 class="box-title m-b-0">Perfil del Usuario</h3>
            <p class="text-muted m-b-30 font-13"> {{usuario.nombre}} </p>

            <img *ngIf="!imagenTemp" [src]="usuario.img | imagen" class="w150">
            <img *ngIf="imagenTemp" [src]="imagenTemp" class="w150">


            <input (change)="seleccionImage( $event.target.files[0] )" type="file">
            <br>
            <br>

            <button (click)="cambiarImagen()" [disabled]="!imagenSubir" type="button" class="btn btn-success waves-effect waves-light m-r-10">Actualizar Foto
                <i class="fa fa-save"></i>

            </button>

        </div>
    </div>
</div>